---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Thola Zonke">
    <div class="max-w-4xl mx-auto py-16 px-4">
        <h1
            class="text-5xl font-display text-brand-primary mb-8 text-center text-4xl"
        >
            Thola Zonke
        </h1>
        <div class="prose prose-lg mx-auto text-gray-800">
            <p class="mb-6 leading-relaxed">Lorem Ipsum</p>
            <p class="mb-6 leading-relaxed">Lorem Ipsum</p>
        </div>
    </div>
</BaseLayout>
