---
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
	description?: string;
	hideFooter?: boolean;
}

const {
	title,
	description = "Welcome to OBC",
	hideFooter = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/obc-favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title} | OBC Group</title>
		<ClientRouter />

		<script is:inline>
			// Workaround for Astro View Transitions interfering with Lenis smooth scroll
			// https://github.com/withastro/astro/issues/12725
			delete window.onscrollend;
		</script>
	</head>
	<body class="flex flex-col min-h-screen">
		<Header />

		<main class="grow">
			<slot />
		</main>

		{!hideFooter && <Footer />}

		<style>
			.bg-fill {
				background-color: #f18020;
			}
		</style>

		<script>
			import Lenis from "lenis";
			import { gsap } from "gsap";
			import { ScrollTrigger } from "gsap/ScrollTrigger";

			gsap.registerPlugin(ScrollTrigger);

			// Official integration pattern: https://github.com/darkroomengineering/lenis#gsap-scrolltrigger
			const lenis = new Lenis({
				// TODO: once deployed check on mobile if this is necessary
				// smoothTouch: false, //--> set to true to enable smooth scrolling on touch devices
			});

			lenis.on("scroll", ScrollTrigger.update);

			gsap.ticker.add((time) => {
				lenis.raf(time * 1000);
			});

			// avoids scroll jitter
			gsap.ticker.lagSmoothing(0);
		</script>
	</body>
</html>
